.siteBanner {
	background-color: #bbb;
	color: #000;
	border-bottom: 3px solid #38414d;
}

.menu-banner {
	background-color: #26374a;
}

.siteName {
	font-size: 1.5em;
	color: #000;
	padding-top: 25px;
	padding-bottom: 25px;
}

.description {
	font-size: 1.2em;
	margin-top: 50px;
	margin-bottom: 50px
}

.newsletters img {
	display: block;
	max-width: 100%;
	height: auto;
}

.a11y-standards-list {
	list-style: none
}

.a11y-standards-list>li {
	margin-top: 10px;
	margin-bottom: 10px
}

.a11y-standards-list span {
	margin-right: 15px
}

.gc-drmt h2,
.gc-srvinfo h2 {
	font-size: 1em;
	margin-bottom: 5px;
	margin-top: 23px
}

.gc-drmt li,
.gc-srvinfo li {
	font-size: 17px;
	line-height: 1.5em
}

.gc-drmt blockquote,
.gc-srvinfo blockquote {
	font-size: 17px
}

.gc-drmt footer,
.gc-srvinfo footer {
	font-size: 17px
}

.well.header-rwd a {
	color: #fff
}

.well.header-rwd a:hover,
.well.header-rwd a:focus {
	text-decoration: none;
	color: #a0ccf8
}

.focus-group{
	margin-top: 3rem;
	margin-bottom: 3.5rem;
	display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.gc-description{
	margin-bottom: 5px;
}

.gc-label{
	font-size: 2rem;
	line-height: 2.5rem;
	font-weight: 700;
	display: block;
}

.gc-label .required{
	color: #D3080C;
}

/* checkbox css */
.gc-input-checkbox{
	display: flex;
	align-items: center;
	margin-left: 10px;
	margin-bottom: 26px;
}

.gc-input-checkbox__input{
	transform: scale(2.5);
}

.gc-checkbox-label{
	margin-top: 5px;
	margin-left: 30px;
	font-weight: 500;
	font-family: "Noto Sans",sans-serif;
	font-size: 20px;

}

/* radio button css */
.gc-input-radio{
	display: flex;
	align-items: center;
	margin-left: 10px;
	margin-bottom: 26px;
}

.gc-radio__input{
	transform: scale(2.5);
	margin-bottom: 26px;
}

.gc-radio-label{
	margin-top: 5px;
	margin-left: 30px;
	font-weight: 500;
	font-family: "Noto Sans",sans-serif;
	font-size: 20px;
}

/* text input css */
.gc-input-text{
	margin-top: 3rem;
	margin-bottom: 3.5rem;
	display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.gc-text__input{
	width: 100%;
	max-width: 400px;
	height: 4rem;
	margin-top: 10px;
	padding: 5px;
	border-color: #202025;
	border-style: solid;
  	border-width: 1px;
}

@media (max-width: 500px) {
    .gc-text__input {
        width: 90%; /* or adjust accordingly */
        height: 4rem; /* Adjust height for smaller screens */
        margin-top: 5px; /* Adjust margin-top as needed */
    }
}


/* text area css */
.gc-textarea{
	width: 80%;
	max-width: 650px;
    min-height: 150px;
	resize: vertical;
	margin-top: 10px;
	padding: 5px;
	border-color: #202025;
	border-style: solid;
  	border-width: 1px;
}


/* dropdown css */
.gc-group{
	width: 100%;
}

.gc-dropdown{
	width: 80%;
	max-width: 650px;
	height: 4rem;
	padding: 5px;
	margin-top: 10px;
	border-color: #202025;
	border-style: solid;
  	border-width: 1px;
}

.error{
	margin-top: 10px;
	margin-bottom: 10px;
}



/* Submit button css */
#SubmitButton{
	background-color: #00703C;
	width: 15rem;
	height: 4rem;
	border: none;
	color: #fff;
	font-weight: 700;
	margin-top: 1.5rem;
	margin-bottom: 2rem;

}

/* fieldset,legend{
	padding: 0;
} */

/* .gc-input-checkbox .gc-input-checkbox__input{
	border-color: #0000;
	border-width: 2px;

} */


/*** Mega Menu ***/
/* add background and text color for menu */
#wb-sm.campaign-menu {
	background: #26374a;
	color: #fff;
}

/* remove table cell and text shadow */
#wb-sm.campaign-menu .menu {
	border-right: 0px !important;
	display: block;
	text-shadow: none;
}

/* focus within menu item background */
#wb-sm.campaign-menu .menu .active,
#wb-sm.campaign-menu .menu .wb-navcurr,
#wb-sm.campaign-menu .menu>li a:focus {
	background: #ccc !important;
	color: #333 !important;
}

#wb-sm.campaign-menu .menu>li {
	border-left: 1px solid #26374a;
}

#wb-sm.campaign-menu .menu>li:last-child {
	border-right: 1px solid #26374a;
}

/* adjust menu padding to align height with GCMenu button */
#wb-sm.campaign-menu .menu>li a {
	padding: 0.5em 1em;
}

/* change menu item on-hover background */
#wb-sm.campaign-menu .menu>li a:hover {
	background: #ccc !important;
	color: #333 !important;
}

/* change menuitem text color when mouse move to submenu item */
#wb-sm.campaign-menu .menu>li.active>a {
	background: #ccc !important;
	color: #333 !important;
}

/* submenu default color */
#wb-sm.campaign-menu .sm.open li a {
	background: #ccc !important;
	color: #333 !important;
}

/* hover on submenu item */
#wb-sm.campaign-menu .sm.open li a:active,
#wb-sm.campaign-menu .sm.open li a:focus,
#wb-sm.campaign-menu .sm.open li a:hover {
	background: #26374a !important;
	color: #fff !important;
}

/* submenu bottom bar color */
#wb-sm.campaign-menu .sm.open {
	border-bottom: 5px solid #26374a !important;
}

/*** GCWEB Menu ***/
/* default color */
.gcweb-menu.campaign-menu button[aria-haspopup=true] {
	background-color: #26374a !important;
	border: 1px solid #26374a;
	color: #fff;
}

/* Button opened with white background */
.gcweb-menu.campaign-menu button[aria-haspopup=true][aria-expanded=true] {
	background-color: #fff !important;
	color: #000;
}

/* button closed */
.gcweb-menu.campaign-menu button[aria-haspopup=true]:focus {
	background-color: #26374a !important;
	border: 1px dotted #fff;
	color: #fff;
}

/* add border for menu item area to align the width */
.gcweb-menu.campaign-menu button[aria-haspopup=true][aria-expanded=true]+[role=menu] {
	border-right: #26374a solid 1px !important;
}

/* menu item background and color */
.gcweb-menu.campaign-menu [role=menu] {
	background-color: #26374a !important;
	color: #fff;
}

/* remove border lines */
.gcweb-menu.campaign-menu [role=menuitem],
.gcweb-menu.campaign-menu [role=menuitem]:visited,
.gcweb-menu.campaign-menu [role=menu]>li,
.gcweb-menu.campaign-menu [role=menu]>li:first-child,
.gcweb-menu.campaign-menu [role=menu]>li:last-child,
.gcweb-menu.campaign-menu [role=menu] [role=menu] [role=menuitem],
.gcweb-menu.campaign-menu [role=menu] [role=menu] li:first-child [role=menuitem] {
	border: none;
}

/* submenu background and text color */
.gcweb-menu.campaign-menu [role=menu] [role=menu] li [role=menuitem] {
	background-color: #e1e1e1 !important;
	color: #333;
	padding-left: 65px;
}

/* submenu item paddings and margins */
.gcweb-menu.campaign-menu [aria-expanded=true]:not(button)+[role=menu] li {
	margin-left: 0px;
}

.gcweb-menu.campaign-menu [aria-expanded=true]:not(button)+[role=menu] li:first-child [role=menuitem],
.gcweb-menu.campaign-menu [aria-expanded=true]:not(button)+[role=menu] li:last-child [role=menuitem] {
	padding-left: 65px;
}

/* submenu item on focus */
.gcweb-menu.campaign-menu [role=menu] [role=menu] [role=menuitem]:focus,
.gcweb-menu.campaign-menu [role=menu] [role=menu] li:first-child [role=menuitem]:focus,
.gcweb-menu.campaign-menu [role=menu] [role=menu] li:last-child [role=menuitem]:focus {
	background-color: #e1e1e1 !important;
	color: #333 !important;
}

/* submenu item on hover */
.gcweb-menu.campaign-menu [role=menu] [role=menu] [role=menuitem]:hover,
.gcweb-menu.campaign-menu [role=menu] [role=menu] li:first-child [role=menuitem]:hover,
.gcweb-menu.campaign-menu [role=menu] [role=menu] li:last-child [role=menuitem]:hover {
	background: #26374a !important;
	color: #fff !important;
	text-decoration: none;
}

/* remove the underline of sub menu item */
.gcweb-menu.campaign-menu [role=menu] [role=menu] li [role=menuitem],
.gcweb-menu.campaign-menu [role=menu] [role=menu] li:first-child [role=menuitem] {
	text-decoration: none;
}

/*** Secondary colour cm-bg-darker ***/
/* add background and text color for menu */
#wb-sm.campaign-menu.cm-bg-darker {
	background: #000;
}

#wb-sm.campaign-menu.cm-bg-darker .menu>li {
	border-left: 1px solid #000;
}

#wb-sm.campaign-menu.cm-bg-darker .menu>li:last-child {
	border-right: 1px solid #000;
}

/* hover on submenu item */
#wb-sm.campaign-menu.cm-bg-darker .sm.open li a:active,
#wb-sm.campaign-menu.cm-bg-darker .sm.open li a:focus,
#wb-sm.campaign-menu.cm-bg-darker .sm.open li a:hover {
	background: #000 !important;
}

/* submenu bottom bar color */
#wb-sm.campaign-menu.cm-bg-darker .sm.open {
	border-bottom: 5px solid #000 !important;
}

/*** GCWEB Menu ***/
/* default color */
.gcweb-menu.campaign-menu.cm-bg-darker button[aria-haspopup=true] {
	background-color: #000 !important;
	border: 1px solid #000;
}

.gcweb-menu.campaign-menu.cm-bg-darker button[aria-haspopup=true][aria-expanded=true] {
	background-color: #fff !important;
}

/* button closed */
.gcweb-menu.campaign-menu.cm-bg-darker button[aria-haspopup=true]:focus {
	background-color: #000 !important;
}

/* add border for menu item area to align the width */
.gcweb-menu.campaign-menu.cm-bg-darker button[aria-haspopup=true][aria-expanded=true]+[role=menu] {
	border-right: #000 solid 1px !important;
}

/* menu item background and color */
.gcweb-menu.campaign-menu.cm-bg-darker [role=menu] {
	background-color: #000 !important;
}

/* submenu item on hover */
.gcweb-menu.campaign-menu.cm-bg-darker [role=menu] [role=menu] [role=menuitem]:hover,
.gcweb-menu.campaign-menu.cm-bg-darker [role=menu] [role=menu] li:first-child [role=menuitem]:hover,
.gcweb-menu.campaign-menu.cm-bg-darker [role=menu] [role=menu] li:last-child [role=menuitem]:hover {
	background: #000 !important;
}

/* Podcast styles */

#podcast-list li {
	background-color: #f0f0f0;
}

#podcast-list li:hover,
#podcast-list li:focus {
	background-color: #000;
}

#podcast-list li a:hover,
#podcast-list li a:focus {
	color: #f0f0f0;
	background-color: #000;
}

#podcast-list li a {
	color: #000;
}

