---
title: Accessible Horizons - Podcasts
description: Accessible Horizon Podcast, where we explore the latest in digital accessibility, accommodation practices, and adaptive technology. Tune in for insightful conversations, expert interviews, and practical tips aimed at making technology more inclusive for everyone.
permalink: /podcasts/
otherLanguagePermalink: /balados/
eleventyExcludeFromCollections: true
layout: layouts/base.njk
---

<p>Welcome to <strong>Accessible Horizons</strong>, a dynamic podcast series hosted by Nadine Charron and Luna Bengio, experts from the Accessibility, Accommodation, and Adaptive Computer Technology (AAACT) Program.</p>

<p>Are you interested in learning about adaptive tools that can transform the workplace into a more accessible and inclusive environment? Do you need practical strategies to better support employees or colleagues with disabilities? <strong>Accessible Horizons</strong> is here to guide you.</p>

<p>Join Nadine and Luna as they share their extensive knowledge and lived experiences as federal employees and managers. In each episode, they’ll dive into innovative strategies and interview professionals who are dedicated to breaking down accessibility barriers. Together, they’ll help pave the way for the federal public service to lead in accessibility and disability inclusion.</p>

<p>Tune in and expand your horizons on making the workplace accessible for all!</p>


<h2>Podcasts</h2>

{# List all podcasts here #}
{%- if collections.podcasts and collections.podcasts.length > 0 -%}
	{%- set podcastslist = collections.podcasts | localeMatch(locale) -%}
{%- if podcastslist and podcastslist.length > 0 -%}
	{%- include "partials/podcastslist.njk" -%}
{%- else -%}
	There are no podcasts at the moment.
{%- endif -%}
{%- else -%}
	There are no podcasts at the moment.
{%- endif -%}
