.home {
	background: no-repeat center center;
	background-size: cover;
	background-image: url("../img/banner.png");
	margin-bottom: 25px
}

.home .bg-gctheme.well.header-rwd {
	background-color: #31393a;
	width: 90%
}

@media(min-width: 768px) {
	.home .bg-gctheme.well.header-rwd {
		width: 75%
	}
}

.home .bg-gctheme.well.header-rwd .siteName {
	width: 100%;
	font-size: 1.5em;
}

.a11y-standards-list {
	list-style: none
}

.a11y-standards-list>li {
	margin-top: 10px;
	margin-bottom: 10px
}

.a11y-standards-list span {
	margin-right: 15px
}

.gc-drmt h2,
.gc-srvinfo h2 {
	font-size: 1em;
	margin-bottom: 5px;
	margin-top: 23px
}

.gc-drmt li,
.gc-srvinfo li {
	font-size: 17px;
	line-height: 1.5em
}

.gc-drmt blockquote,
.gc-srvinfo blockquote {
	font-size: 17px
}

.gc-drmt footer,
.gc-srvinfo footer {
	font-size: 17px
}

.well.header-rwd a {
	color: #fff
}

.well.header-rwd a:hover,
.well.header-rwd a:focus {
	text-decoration: none;
	color: #a0ccf8
}
