---
title: Balado Horizons Accessibles
description: Balado Horizons accessibles, où nous explorons les dernières tendances en matière d’accessibilité numérique, de pratiques d’adaptation et de technologies adaptées. Écoutez des conversations enrichissantes, des entrevues d’experts et des conseils pratiques pour rendre la technologie plus inclusive pour tous.
permalink: /balados/
otherLanguagePermalink: /podcasts/
eleventyExcludeFromCollections: true
layout: layouts/base.njk
---

<p>Bienvenue à <strong>Horizons accessibles</strong>, un balado dynamique animée par Nadine Charron et Luna Bengio, expertes du programme d’Accessibilité, adaptation et technologie informatique adaptée (AATIA).</p>
<p>Vous souhaitez découvrir des outils d’adaptation qui peuvent transformer le milieu de travail en un environnement plus accessible et inclusif? Vous cherchez des stratégies concrètes pour mieux soutenir les employés ou collègues en situation de handicap ? <strong>Horizons accessibles</strong> est là pour vous guider.</p>
<p>Joignez-vous à Nadine et Luna alors qu’elles partagent leurs connaissances approfondies et leurs expériences vécues en tant qu’employées et gestionnaires de la fonction publique fédérale. Dans chaque épisode, elles exploreront des stratégies novatrices et donneront la parole à des professionnels engagés à éliminer les obstacles à l’accessibilité. Ensemble, elles contribueront à faire de la fonction publique fédérale un chef de file en matière d’accessibilité et d’inclusion des personnes en situation de handicap.</p>
<p>Branchez-vous et élargissez vos horizons pour rendre le milieu de travail accessible à tous!</p>

{%- include "partials/podcastslist.njk" -%}
