{#

# Breadcrumbs include

This file controls the breadcrumbs on the site.

Will eventually be replaced with [Navigation — Eleventy](https://www.11ty.dev/docs/plugins/navigation/)

So far there is only one level for the breadcrumb

## Related files

- src/_includes/partials/header.njk - include file that this file is pulled into

#}

<nav id="wb-bc" property="breadcrumb">
	<h2>{{ header[locale].breadcrumbsHeading }}</h2>
	<div class="container">
		<ol class="breadcrumb" typeof="BreadcrumbList">
			<!-- First breadcrumb: Canada.ca -->
			<li property="itemListElement" typeof="ListItem">
				<a property="item" typeof="WebPage" href="{%- if locale == "en" -%}/en/{%- else -%}/fr/{%- endif -%}">
					<span property="name">{{ metadata.title[locale] }}</span>
				</a>
				<meta property="position" content="1">
			</li>
		</ol>
	</div>
</nav>
