
<ul class="row list-unstyled wb-eqht-grd wb-filter mrgn-tp-md pb-4 wb-init wb-filter-inited">
	{% for event in eventslist %}
	<li class="col-xs-12 col-md-6 mrgn-tp-md mrgn-bttm-md">
		<div class="brdr-tp brdr-rght brdr-bttm brdr-lft hght-inhrt">
			<h3 class="mrgn-tp-md mrgn-rght-md mrgn-bttm-md mrgn-lft-md">{{ event.data.title }}
				{% if event.data.online %}<span class="label label-success mrgn-lft-sm"><span class="wb-inv">Location: </span>Online</span>{% endif %}
				{% if event.data.host %}<small>Presented by <strong>{{ event.data.host }}</strong></small>{% endif %}
			</h3>
			<div class="mrgn-rght-md mrgn-bttm-md mrgn-lft-md">
				<p>{{ event.content | safe }}</p>
				<dl>
					<dt>Event start time</dt>
					<dd>{{ event.data.startTime }}</dd>
					<dt>Event end time</dt>
					<dd>{{ event.data.endTime }}</dd>
					<dt>Event date</dt>
					<dd>{{ event.data.eventDate | htmlDateString }}</dd>
					<dt>Language of presentation</dt>
					<dd>{{ event.data.language }}</dd>
					<dt>Audience</dt>
					<dd>{{ event.data.audience }}</dd>
					<dt>Location</dt>
					<dd>{{ event.data.location }}</dd>
				</dl>
			</div>
		</div>
	</li>
	{% endfor %}
</ul>
