{# Language toggle #}
{%- set toggleTag = "" -%}

{%- if tags and "events" in tags -%}
{%- set toggleTag = "evenements" if locale == "en" else "events" -%}
{%- elif tags and "newsletters" in tags -%}
{%- set toggleTag = "infolettres" if locale == "en" else "newsletters" -%}
{%- elif tags and "podcasts" in tags -%}
{%- set toggleTag = "balados" if locale == "en" else "podcasts" -%}
{%- endif -%}

{%- set togglePage = otherLanguagePermalink if otherLanguagePermalink else ("/" ~ toggleTag if toggleTag else "") ~ "/" ~ (otherLanguageTitle | slugify) ~ "/" -%}

{%- if needsTranslation != true -%}
<section id="wb-lng" class="col-xs-3 col-sm-12 pull-right text-right">
	<h2 class="wb-inv">{{ header[locale].languageSelections }}</h2>
	<ul class="list-inline mrgn-bttm-0">
		<li>
			<a lang="{{ otherLang }}" hreflang="{{ otherLang }}" href="{{ togglePage }}">
				<span class="hidden-xs" translate="no">{{ otherLanguage }}</span>
				<abbr title="{{ otherLanguage }}" translate="no" class="visible-xs h3 mrgn-tp-sm mrgn-bttm-0 text-uppercase"> {{ otherLang }}</abbr>
			</a>
		</li>
	</ul>
</section>
{%- endif -%}
