{%- if collections.podcasts and collections.podcasts.length > 0 -%}
{%- set podcastslist = collections.podcasts | localeMatch(locale) -%}
{% endif %}
{%- if collections.newsletters and collections.newsletters.length > 0 -%}
{%- set newsletterslist = collections.newsletters | localeMatch(locale) -%}
{% endif %}
{%- if collections.events and collections.events.length > 0 -%}
{%- set eventslist = collections.events | localeMatch(locale) -%}
{% endif %}
<div class="menu-banner">
	<div class="container">
		<nav aria-labelledby="mainMenu" class="gcweb-menu campaign-menu" typeof="SiteNavigationElement">
			<h2 id="mainMenu" class="wb-inv">Menu</h2>
			<button type="button" aria-haspopup="true" aria-expanded="false">
					{% if locale == "en" %}
					<span class="wb-inv">{{ menu[locale].mainMenu }}
					</span>Menu <span aria-hidden="true" class="expicon glyphicon glyphicon-chevron-down"></span>
					{% else %}
					Menu <span class="wb-inv">{{ menu[locale].mainMenu }}
					</span>
					<span aria-hidden="true" class="expicon glyphicon glyphicon-chevron-down"></span>
					{% endif %}
			</button>
			<ul role="menu" aria-orientation="vertical">
				<li role="none"><a role="menuitem" tabindex="0" href="{{ menu[locale].home[0].link }}">{{ menu[locale].home[0].title }}</a></li>
				{%- if eventslist and eventslist.length > 0 -%}
				<li role="none"><a role="menuitem" tabindex="-1" href="{{ menu[locale].events[0].link }}">{{ menu[locale].events[0].title }}</a></li>
				{% endif %}
				{%- if newsletterslist and newsletterslist.length > 0 -%}
				<li role="none"><a role="menuitem" tabindex="-1" href="{{ menu[locale].newsletters[0].link }}">{{ menu[locale].newsletters[0].title }}</a></li>
				{% endif %}
				{%- if podcastslist and podcastslist.length > 0 -%}
				<li role="none"><a role="menuitem" tabindex="-1" href="{{ menu[locale].podcasts[0].link }}">{{ menu[locale].podcasts[0].title }}</a></li>
				{% endif %}
			</ul>
		</nav>
	</div>
</div>
