
<ul class="list-unstyled">
		{%- for newsletter in newsletterslist -%}
		<li>
			<section>
				<h3><a href="{{ newsletter.url }}">{{ newsletter.data.title }}</a></h3>
					{{ newsletter.data.description | markdownify | safe }}
			</section>
		</li>
		{%- endfor -%}
</ul>
