
<ul class="list-unstyled">
		{%- for newsletter in newsletterslist -%}
		<li>
			<section>
				<h3><a href="{{ newsletter.url }}">{{ newsletter.data.title }}</a></h3>
					<p>{{ newsletter.data.description | markdownify | safe }}</p>
			</section>
		</li>
		{%- endfor -%}
</ul>
