backend:
  name: github
  repo: aaact-aatia/aaact-aatia.github.io
  branch: main

publish_mode: editorial_workflow

media_folder: "/public/img/uploads" # Media files will be stored in the repo under static/images/uploads
public_folder: "/img/uploads" # The src attribute for uploaded media will begin with /images/uploads

i18n:
  # Required and can be one of multiple_folders, multiple_files or single_file
  # multiple_folders - persists files in `<folder>/<locale>/<slug>.<extension>`
  # multiple_files - persists files in `<folder>/<slug>.<locale>.<extension>`
  # single_file - persists a single file in `<folder>/<slug>.<extension>`
  structure: multiple_folders

  # Required - a list of locales to show in the editor UI
  locales: [en, fr]

  # Optional, defaults to the first item in locales.
  # The locale to be used for fields validation and as a baseline for the entry.
  default_locale: en

collections:
  - name: "events"
    label: "Events"
    folder: "content/events"
    create: true
    slug: "{{slug}}"
    i18n: true
    fields:
      - { label: "Title", name: "title", widget: "string", i18n: true }
      - { label: "Layout", name: "layout", widget: "string", default: "layouts/base.njk", hidden: true, i18n: duplicate }
      - { label: "Date", name: "date", widget: "datetime", format: "YYYY-MM-DD", i18n: duplicate }
      - { label: "Body", name: "body", widget: "markdown",  i18n: true }
