---
title: AAACT Now for Accessibility newsletter
description: The AAACT Now for Accessibility newsletter provides news and insights on digital accessibility so we can all contribute to disability inclusion.
permalink: /newsletters/
otherLanguagePermalink: /infolettres/
eleventyExcludeFromCollections: true
layout: layouts/base.njk
---

<p><strong><a href="https://forms-formulaires.alpha.canada.ca/en/id/clwg9uutq012sx883m3l6gt8p">Subscribe to the AAACT Now for Accessibility newsletter</a></strong></p>

<h2>Newsletters</h2>

{# List all newsletters here #}
{%- if collections.newsletters and collections.newsletters.length > 0 -%}
	{%- set newsletterslist = collections.newsletters | localeMatch(locale) -%}
{%- if newsletterslist and newsletterslist.length > 0 -%}
	{%- include "partials/newsletterslist.njk" -%}
{%- else -%}
	There are no newsletters at the moment.
{%- endif -%}
{%- else -%}
	There are no newsletters at the moment.
{%- endif -%}
