<!DOCTYPE html>
<html class="no-js" lang="{{ locale }}" dir="ltr">

{% include "partials/head.njk" %}

<body vocab="http://schema.org/" typeof="WebPage">

	{% include "partials/skipnav.njk" %}

	{% include "partials/header.njk"  %}

	<main property="mainContentOfPage" resource="#wb-main" typeof="WebPageElement">

{# add file information if it exists #}
	{# {% if file and file.length > 0 %}
	{% set fileInfoArray = file | fileInfo %}
	{% include "partials/file-info.njk" %}
	{% endif %} #}


			<div class="container">
				<h1 property="name" id="wb-cont">{{ title }}</h1>
				{% if tagline %}
					<p class="tagline">{{ tagline | safe }}</p>
				{% endif %}
				<p class="description">{{ description | safe }}</p>
				{{ content | safe }}
			</div>

			{% include "partials/pagedetails.njk" %}

	</main>

	{% include "partials/footer.njk" %}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
	<script src="https://www.canada.ca/etc/designs/canada/wet-boew/js/wet-boew.min.js"></script>
	<script src="https://www.canada.ca/etc/designs/canada/wet-boew/js/theme.min.js"></script>
	{%- if customScript -%}
		<script src="{{ customScript }}"></script>
	{%- endif -%}
</body>
</html>
