<!DOCTYPE html>
<html class="no-js" lang="{{ locale }}" dir="ltr">

{%- include "partials/head.njk" -%}

<body vocab="http://schema.org/" typeof="WebPage">

	{%- include "partials/skipnav.njk" -%}

	{%- include "partials/header.njk"  -%}

	<main property="mainContentOfPage" resource="#wb-main" typeof="WebPageElement" {%- if tags -%} class="{{ tags }}"{%- endif -%}>

			<div class="container">
				<h1 property="name" id="wb-cont">{{ title | safe }}</h1>
				{%- if tags and "podcasts" in tags and eleventyExcludeFromCollections != true -%}
					<p class="tagline"><strong>{{ podcasts[locale].releaseDateText }}</strong> <span class="nowrap">{{ podcastDate }}</span></p>
				{%- endif -%}
				{%- if tagline -%}
					<p class="tagline">{{ tagline | safe }}</p>
				{%- endif -%}
				{%- if description -%}<p class="description">{{ description | markdownify | safe }}</p>{%- endif -%}
				{%- include "partials/alerts.njk" -%}

				{% block content %}
					{{ content | safe }}
				{% endblock %}

			</div>

			{%- include "partials/pagedetails.njk" -%}

	</main>

	{%- include "partials/footer.njk" -%}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
	<script src="https://www.canada.ca/etc/designs/canada/wet-boew/js/wet-boew.min.js"></script>
	<script src="https://www.canada.ca/etc/designs/canada/wet-boew/js/theme.min.js"></script>
	<script src="/js/campaign-menu.js"></script>
	{%- if customScript -%}
		<script src="{{ customScript }}"></script>
	{%- endif -%}
</body>
</html>
