---
title: Infolettre de l'AATIA maintenant pour l'accessibilité
description: En vous abonnant à notre infolettre, vous recevrez des nouvelles et des idées sur l’accessibilité numérique afin que nous puissions tous contribuer à l’inclusion des personnes en situation de handicap.
permalink: /infolettres/
otherLanguagePermalink: /newsletters/
eleventyExcludeFromCollections: true
---

<p><strong><a href="https://forms-formulaires.alpha.canada.ca/fr/id/clwg9uutq012sx883m3l6gt8p">Abonnez-vous au bulletin d’information l’AATIA maintenant pour l’accessibilité</a></strong></p>

<h2>Infolettres</h2>

{# List all newsletters here #}
{%- if collections.newsletters and collections.newsletters.length > 0 -%}
{%- set newsletterslist = collections.newsletters | localeMatch(locale) -%}
{%- if newsletterslist and newsletterslist.length > 0 -%}
{%- include "partials/newsletterslist.njk" -%}
{%- else -%}
Il n'y a pas de infolettre pour le moment.
{%- endif -%}
{%- else -%}
Il n'y a pas de infolettre pour le moment.
{%- endif -%}
